@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
     
  $fontFamily: 'Manrope', sans-serif;
  $gradientText: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  $gradientBar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  $color-bg: #040C18;
  $color-footer : #031B34;
  $color-blog: #042c54;
  $color-text: #81AFDD;
  $color-subtext: #FF8A71;
  $colorWhite:#fff;
  $fontWeightMedium:500;
  $fontWeightBold:700;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,li,h1,h1,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}


body {
   background-color: $color-bg;
   
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a{
  color: unset;
  text-decoration: none;
}


.btn{
  background: #FF4820;
  display: block;
  border-radius: 5px;
  color:$colorWhite;
  padding: 16px 45px;
  font-family: $fontFamily;
  font-weight: $fontWeightMedium;
  font-size: 18px;
  line-height: 25px;
 }

.header__inner{
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

// 2аза

.gradient__text{
  background: $gradientText;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

// 3раза

.gradient__bar{
  background: $gradientBar; 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.title{
  font-family: 'Manrope';
 font-style: normal;
 font-weight: 800;
font-size: 62px;
line-height: 75px;
letter-spacing: -0.04em;
}

.section__title{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;

  @media(max-width:414px){
    font-size: 30px;
  }
}

.section__padding{
  padding:4rem 6rem;

  @media (max-width:700px) {
    padding:4rem;
    
  }
  @media (max-width:500px) {
    padding:4rem 2rem;
    
  }
}
.section__margin{
  margin: 4rem 6rem;
  @media (max-width:700px) {
    margin:4rem;
    
  }
  @media (max-width:500px) {
    margin:4rem 2rem;
    
  }




}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section__margin{
  @media(max-width:414px){
    margin-top: 50px;
  }
}