.footer{
    background: #031B34;
    padding: 175px 0 27px 0;
    @media(max-width:691px){
       padding-top: 70px;
    }
    @media(max-width:415px){
        padding-top: 30px;
    }

    &__top{
        text-align: center;
       

        &-title{
            margin-bottom: 64px;
            max-width: 821px;
            width: 100%;
            margin: 0 auto 64px;
            @media(max-width:691px){
                font-size: 45px;
            }
            @media(max-width:415px){
              font-size: 36px;
              }
        }

        &-btn{
         border: 1px solid #FFFFFF;
         padding: 22px 20px 21px 24px;
         background: transparent;
         outline: none;
         color: #fff;
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
        transition: all .4s ease;
        @media(max-width:415px){
            padding: 10px 15px 21px 15px
        }
        &:hover{
            background-color: #fff;
            color: #031B34;
            border: 1px solid transparent;
        }
        }
    }

    &__bottom{
        display: flex;
        padding: 185px 0 83px;
        justify-content: space-between;
        color: #fff;
        @media(max-width:691px){
            padding: 100px 0 50px;
        }
        @media(max-width:686px){
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        &-logo{
            max-width: 188px;
            width: 100%;
            @media(max-width:686px){
                display: flex;
                flex-direction: column;
                max-width: none;
                align-items: center;
                gap: 20px;
               
            }

            .footer__logo{
                width: 118px;
                height: 30px;
                margin-bottom: 25px;
                img{
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            .footer__contact{
                font-family: 'Gilroy-Medium';
                font-size: 12px;
                line-height: 14px;
            }  


        }

        &-links{
            display: flex;
            gap: 150px;
            @media(max-width:960px){
                gap: 50px;
            }
            @media(max-width:415px){
              gap: 20px;
            }
             
            
        }

      
    }

    &__links{
     list-style: none;
     width: 100%;
     
     

     &-title{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 23px;
        font-weight: bold;
     }

     &-item{
        padding: 13px 0;
     }

     &-link{
        font-size: 12px;
        line-height: 14px;
     }   


    }

   &__copy{
       width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
       color: #fff;
       font-size: 12px;
       line-height: 14px;
       font-feature-settings: 'liga' off;
   }
   

}